body {
  background: white;
  line-height: 1.5;
  margin: 3em auto;
  padding: 0 3em; /* Fix for Dillo */
  font-family: sans-serif;
  max-width: 80ch;
  font-size: 16px;
}
h1 {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  font-size: 22px;
}
img {
  border: 0;
  max-width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}
figure {
  text-align: center;
  margin: 1em;
}
footer {
  text-align: center;
  margin-top: 2em;
  clear: both;
}
pre {
  padding: 0.25em;
  background: #f7f7f7;
  border-left: solid 2px #ccc;
  font-size: 14px;
}
.date {
  font-style: italic;
  float: right;
}

/* Issue state label */
span.st {
  display: inline-block;
  text-align: center;
  color: #000;
  padding: 0px 0.25em;
  border: solid 1px #777;
}
.st-open {
  background-color: #9f9;
}
.st-closed {
  background-color: #eee;
}

/* Issue index view */
table.issue-index {
  width: 100%;
  border-spacing: 0;
  font-size: 16px;
  border-collapse: collapse;
}
table.issue-index td {
  border-collapse: collapse;
  border: solid 1px #eee;
  padding: 0.25em 0.5em;
  vertical-align: top;
}
table.issue-index td.st {
  text-align: center;
  border: solid 1px #777;
}
table.issue-index td.dt {
  text-align: center;
  white-space: nowrap;
  border-right: solid 1px #777;
}
table.issue-index th {
  border-collapse: collapse;
  background-color: #eee;
  border: solid 1px #ddd;
  padding: 0.25em 0.5em;
}

/* Issue view */
table.issue-meta {
  width: 100%;
  padding: 0.25em;
  border: solid 1px #aaa;
  margin-bottom: 1em;
  background: #f7f7f7;
  font-size: 16px;
}
table.issue-meta th {
  padding: 0.1em 0.25em;
  text-align: left;
  vertical-align: top;
}
table.issue-meta td {
  width: 100%;
  padding: 0.1em 0.25em;
}
div.comment {
}
div.comment-meta {
  margin: 0.5em 0;
  padding: 0.25em 0.5em;
  border: solid 1px #aaa;
  background: #f7f7f7;
}
div.comment-meta a {
  color: #000;
}
